<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
 <title>{% block title %}{% endblock %}</title>
 <style>
*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
}

.parent{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top:50px;
    align-items: center;
    
}
.blog-img img{
    width: 298px;
    height: 180px;
    border-radius: 4px 4px 0px 0px;
}
.child1, .child2, .child3, .child4 {
    width:300px;
    border-radius: 4px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid rgb(173, 158, 158);

}
.child1{
    margin-bottom: 10px;
}
.child2{
    margin-bottom: 10px;
}
.child3{
    margin-bottom: 10px;
}
.child4{
    margin-bottom: 10px;
}

.blog-title h3{
height: 56px;
left: 13px;
top: 12px;
margin:12px;
border-radius: 4px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #FD5F00;
}


.parent{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top:50px;
    align-items: center;
    
}
.blog-img img{
    width: 298px;
    height: 180px;
    border-radius: 4px 4px 0px 0px;
}
.bchild {
    width:300px;
    border-radius: 4px;
    border: 1px solid rgb(189, 187, 187);
    margin-bottom: 10px;
}

.bchild:hover{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.blog-title h5{
left: 13px;
top: 12px;
margin:12px;
border-radius: 4px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
padding:5px;
color: #FD5F00;
}

#popup-btn{
    position: fixed;
    z-index:10;
    left: 10px;
    bottom: 10px;
}





   .label-container{
  position:fixed;
  bottom:48px;
  right:105px;
  display:table;
  visibility: hidden;
}

.label-text{
  color:#FFF;
  background:rgba(51,51,51,0.5);
  display:table-cell;
  vertical-align:middle;
  padding:10px;
  border-radius:3px;
}

.label-arrow{
  display:table-cell;
  vertical-align:middle;
  color:#333;
  opacity:0.5;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#5d50c6 ;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index:1000;
  animation: bot-to-top 2s ease-out;
}

#ul{
  position:fixed;
  right:40px;
  padding-bottom:20px;
  bottom:80px;
  z-index:100;
}

#ul-li{
  list-style:none;
  margin-bottom:10px;
}

#ul-li-a{
  background-color:#5d50c6 ;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  width:60px;
  height:60px;
  display:block;
}

#ul:hover{
  visibility:visible!important;
  opacity:1!important;
}


.my-float{
  font-size:24px;
  margin-top:18px;
}

a#menu-share + ul{
  visibility: hidden;
}

a#menu-share:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
} 

a#menu-share i{
  animation: rotate-in 0.5s;
}

a#menu-share:hover > i{
  animation: rotate-out 0.5s;
}


@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}


@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
} 


      .custom-blog-title {
  font-family: "Source Sans Pro script=all rev=1", sans-serif;
  color:#000;
  font-style: normal;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size:47px;
}
  
    .short{
    font-family: "Source Sans Pro script=all rev=1", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color:#494746; 
    font-size:28px;
  }
  .shorter{
    font-family: "Source Sans Pro script=all rev=1", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color:#000; 
    font-size:20px;
  }
.custom-blog-body{
font-family: 'Source Sans Pro', sans-serif;
font-weight: 100;
font-style: normal;
color:#000000;
transition-duration: 350ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
font-size:18px;
overflow: overlay;
}

#error {
  z-index:5; position: fixed; left: 50%; top: 50px; width:auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.anouncement{
  width:100%;
  background-color:#232333;
  display :flex;
  background-color:#f1f1f1;
  flex-direction:row;
  justify-content:center;
  width:80%;
  margin:auto;
}
.anouncement h4 {
    display: inline-flex;
    align-items: center;
    margin: 5px;
    padding: 2px;
    color: white;
    height: 60px;
    align-self: center;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
}
.color-red{
      background-color: #ff111c;
} 
.color-blue{
      background-color: #3300fd;
}

.anouncement p{
    margin: 10px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    flex-direction: row;
    background-color: #f1f1f1;
    color: red;
}

.anouncement p a{
    display: contents;
    color: #3300fd;
}
@media screen and (max-width:768px){
  .anouncement{
    display:flex;
    overflow:hidden;
    flex-direction:column;
  }
  .anouncement h4{
    margin:5px;
    padding:2px;
    background-color:#3611ff;
    color:white;
  }
  .anouncement p{
    font-size:16px;
  }
}
@media screen and (max-width:510px)
{
  .anouncement{
    flex-direction:column;
  }
  .anouncement p{
    font-size:14px;
  }
   .anouncement h4{
    margin:2px;
    padding:2px;
    background-color:#3611ff;
    color:white;
  }
}
    </style>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=  "{% static 'css/animate.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177399806-1"></script>
 <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177399806-1');
</script>
</head>

<body>
<header>
<div class="bg-top navbar-light">
      <div class="container">
        <div class="row no-gutters d-flex align-items-center align-items-stretch">
          <div class="col-md-4 d-flex align-items-center py-4">
            <a class="navbar-brand" href="{% url 'home' %}">Future Step<br> Solutions<span></span></a>
          </div>
          <div class="col-lg-8 d-block">
            <div class="row d-flex">
              <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                <div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                <div class="text">
                  <span>Email</span>
                  <span><a href="mailto:futurestepsolutions@gmail.com">futurestepsolutions@gmail.com</a></span>
                </div>
              </div>
              <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                <div class="icon d-flex justify-content-center align-items-center"><span class="icon-phone2"></span>
                <div class="text">
                  <span>Call</span>
                  <span><a href="tel:9590747327">9590747327</span>

                  <span><a href="tel:7022363258">7022363258</span>
                </div>
              </div>
              <div class="col-md topper d-flex align-items-center justify-content-end">
                <p class="mb-0">
                  <a href="/#enquiry" class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center" target="_blank">
                    <span>Enquire Now</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container d-flex align-items-center px-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu" >Menu</span>
        </button>
        <form name="searchbox" method="GET" action="{% url 'search:searchposts' %}" value="{{request.GET.q}}" class="searchform order-lg-last">
          <div class="form-group d-flex">
            <input type="text" name="q" class="form-control pl-3" placeholder="Search">
            <button type="submit" name="submit" value="Search" placeholder="" class="form-control search"><span class="ion-ios-search"></span></button>
          </div>
        </form>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mr-auto">
            {% block navbar %}
            
            {% endblock %}
          </ul>
        </div>
      </div>
    </nav>
    </header>


<div class="anouncement">
<h4 class="color-red">Latest updates!</h4>
<p>UG-KCET 2020 Uploading Document Date Extended from 24/09/2020 to 01/10/2020.<a href="https://cetonline.karnataka.gov.in/ugcetupload2020/" target="_blank" >Upload Documents Now</a></p>
<p><a href="https://steps2career.in/blog/UG-KCET-Counselling-2020-Latest-News/">Documents Required For UG-KCET 2020 Counselling.</a></p>
<p><a href="https://www.steps2career.in/blog/UG-NEET-Latest-Updates-2020/">NEET 2020 Answer keys released.</a></p>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" id="popup-btn" data-target="#popup" data-whatever="@mdo" style="display:block;    position: fixed; z-index:10; left: 30px; bottom: 40px;
" >Message</button> 
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" name="popupForm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight:600;">Get guidance to get admissions in top colleges</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  method="POST" action="{% url 'popupForm' %}" id="PUForm">
        {% csrf_token %}
          <div class="form-group">
            <label for="Pname" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="Pname" name="name" >
          </div>
          <div class="form-group">
            <label for="Pphone" class="col-form-label">Phone No.</label>
            <input type="text" class="form-control" id="Pphone" name="ph">
          </div>
          <div class="form-group">
            <label for="PcourseType" class="col-form-label">Course type</label>
            <select name="courseType" id="PcourseType" class="form-control">
											<option value="">----</option>
											<option value="BEBTech">B.E / B.Tech</option>
											<option value="Degree">Degree</option>
											<option value="Paramedical">Paramedical</option>
											<option  value="Medical">Medical</option>
											<option value="Architecture">Architecture</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Pentrance" class="col-form-label">Entrance exam</label>
            <select name="Entrance" id="Pentrance" class="form-control">
                      <option value="">----</option>
											<option value="K-CET">K-CET 2020</option>
											<option value="COMED-K">COMED-K 2020</option>
											<option value="NEET">NEET 2020</option>
											<option value="JEE-Mains">JEE Mains 2020</option>
											<option value="JEE-Advance">JEE Advance 2020</option>
											<option value="OTHER">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Ppercent" class="col-form-label">12th Percentage</label>
            <input name="TwelfthPercentage" type="number" class="form-control" id="Ppercent" pattern="\d*" maxlength="5">
          </div>
          <div class="form-group">
            <label for="admissionType" class="col-form-label">Admission type</label>
            <select name="admissionType" id="admissionType" class="form-control">
                      
            </select>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          <button type="submit" class="btn btn-primary">Send message</button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>






{% if message %}
        <button type="button" id="btn-success" class="btn btn-primary" data-toggle="modal" data-target="#successModal" style="display:none;">
        </button>

        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Successful</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-success">
                {{ message }}
              </div>
            </div>
          </div>
        </div>

{% endif %}





{% if error %}
            <!-- Button trigger modal -->
            <button type="button" id="btn-error" class="btn btn-primary" data-toggle="modal" data-target="#errorModal" style="display:none;">
              
            </button>

            <!-- Modal -->
            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-danger">
                    {{ error }}
                  </div>
                </div>
              </div>
            </div>
{% endif %}



{% block content %}

<svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"></circle><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"></circle></svg>
{% endblock %}

<footer class="ftco-footer ftco-bg-dark ftco-section" style="padding-top: 4">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
              <div class="block-23 mb-3">
                <ul>
                  <li><a href="https://goo.gl/maps/vNjPWoDCvV5nHdsG6"><span class="icon icon-map-marker"></span><span class="text">#53, 2nd floor, 3rd Cross, Bhuvaneshwari Nagar, Dasarahalli main road, Hebbal, Kempapura, Bangalore-560024 Land mark- Near Union Bank / Nice Mart, INDIA.</span></a></li>
                  <li><a href="tel:9590747327"><span class="icon icon-phone"></span><span class="text">+91-9590747327</span></a></li>
                  <li><a href="mailto:futurestepsolutions@gmail.com"><span class="icon icon-envelope"></span><span class="text">futurestepsolution@gmail.com</span></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!---blog area in footer--->
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Recent Blog</h2>
              

          
              {% for blog in recentBlogFoot %}
              <div class="block-21 mb-4 d-flex">
                <a href="{% url 'details' blog.slug %}" class="blog-img mr-4" style="background-image: url({{ blog.image.url }});"></a>
                <div class="text">
                  <h3 class="heading"><a href="{% url 'details' blog.slug %}">{{ blog.title }}</a></h3>
                  <div class="meta">
                    <div><a href="{% url 'details' blog.slug %}"><span class="icon-calendar"></span> {{ blog.pub_date_pro}}</a></div><br/>
                    <div><a href="{% url 'details' blog.slug %}"><span class="icon-person"></span> {{ blog.author | title }}</a></div>
                    {% comment %} <div><a href="{% url 'details' blog.slug %}"><span class="icon-chat"></span> 19</a></div> {% endcomment %}
                  </div>
                </div>
              </div>
              {% endfor %}



            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'home' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                <li><a href="{% url 'about' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                <li><a href="{% url 'services' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a></li>
                <li><a href="{% url 'blog' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Blog</a></li>
                <li><a href="{% url 'contact' %}"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>





















          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Subscribe Us!</h2>
              <form  action="{% url 'subscribe' %}" method="POST" class="subscribe-form">
              {% csrf_token %}
                <div class="form-group">
                  <input name="email" type="email" class="form-control mb-2 text-center" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="form-control submit px-3" required>
                </div>
              </form>
            </div>
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made <i class="icon-education" aria-hidden="true"></i> by <a href="{% url 'home' %}" target="_blank">Future Step Solutions</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer> 
    

  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

    
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
<script>
var timer = setInterval(setColor, 300);

function setColor() {
  var x = document.querySelector(".anouncement h4");
  x.style.backgroundColor = x.style.backgroundColor == "red" ? "blue" : "red";
}

function stopColor() {
  clearInterval(timer);
}

var Select_List_Data = {
    
    'admissionType': { // name of associated select box
        
        // names match option values in controlling select box
        Medical: {
            text: ['Counselling',],
            value: ['Counselling',]
        },
        BEBTech:{
          text:['Counselling','DirectAdmission'],
          value:['Counselling','DirectAdmission']
        },
        Paramedical:{
          text:['Counselling','DirectAdmission'],
          value:['Counselling','DirectAdmission']
        },
        Degree:{
          text:['Counselling','DirectAdmission'],
          value:['Counselling','DirectAdmission']
        },
        Architecture:{
          text:['Counselling','DirectAdmission'],
          value:['Counselling','DirectAdmission']
        },
    }    
};

function removeAllOptions(sel, removeGrp) {
    var len, groups, par;
    if (removeGrp) {
        groups = sel.getElementsByTagName('optgroup');
        len = groups.length;
        for (var i=len; i; i--) {
            sel.removeChild( groups[i-1] );
        }
    }
    
    len = sel.options.length;
    for (var i=len; i; i--) {
        par = sel.options[i-1].parentNode;
        par.removeChild( sel.options[i-1] );
    }
}

function appendDataToSelect(sel, obj) {
    var f = document.createDocumentFragment();
    var labels = [], group, opts;
    
    function addOptions(obj) {
        var f = document.createDocumentFragment();
        var o;
        
        for (var i=0, len=obj.text.length; i<len; i++) {
            o = document.createElement('option');
            o.appendChild( document.createTextNode( obj.text[i] ) );
            
            if ( obj.value ) {
                o.value = obj.value[i];
            }
            
            f.appendChild(o);
        }
        return f;
    }
    
    if ( obj.text ) {
        opts = addOptions(obj);
        f.appendChild(opts);
    } else {
        for ( var prop in obj ) {
            if ( obj.hasOwnProperty(prop) ) {
                labels.push(prop);
            }
        }
        
        for (var i=0, len=labels.length; i<len; i++) {
            group = document.createElement('optgroup');
            group.label = labels[i];
            f.appendChild(group);
            opts = addOptions(obj[ labels[i] ] );
            group.appendChild(opts);
        }
    }
    sel.appendChild(f);
}


document.forms['PUForm'].elements['courseType'].onchange = function(e) {
    // name of associated select box
    var relName = 'admissionType';
    
    // reference to associated select box 
    var relList = this.form.elements[ relName ];
    
    // get data from object literal based on selection in controlling select box (this.value)
    var obj = Select_List_Data[ relName ][ this.value ];
    
    // remove current option elements
    removeAllOptions(relList, true);
    
    // call function to add optgroup/option elements
    // pass reference to associated select box and data for new options
    appendDataToSelect(relList, obj);
};


// populate associated select box as page loads
(function() { // immediate function to avoid globals
    
    var form = document.forms['PUForm'];
    
    // reference to controlling select box
    var sel = form.elements['courseType'];
    sel.selectedIndex = 0;
    
    // name of associated select box
    var relName = 'admissionType';
    // reference to associated select box
    var rel = form.elements[ relName ];
    
    // get data for associated select box passing its name
    // and value of selected in controlling select box
    var data = Select_List_Data[ relName ][ sel.value ];
    
    // add options to associated select box
    appendDataToSelect(rel, data);
    
}());

</script>




{% if show_popup %}
<script>
setTimeout(popup, 15000); 
function popup() {
  var popup=document.getElementById('popup-btn');
  popup.click();
}
</script>
{% endif %}




  {% if message %}
    <script>
  window.onload=function() {
              var SuccessButton = document.getElementById("btn-success");
                SuccessButton.click();
              };
</script>   
  {% endif %}
  {% if error %}
    <script>
  window.onload=function() {
              var ErrorButton = document.getElementById('btn-error');
                ErrorButton.click();
              };
  </script>   
  {% endif %}


  		<a style="color:white;" class="float show" id="menu-share">
<i class="fa icon-paper-plane-o my-float"></i>
</a>
<ul id="ul">
<li id="ul-li"><a id="ul-li-a" target="_blank" href="https://wa.me/919590747327?text={{ 'Hey, I am interested in admissions' | urlencode }}">
<i class="fa icon-whatsapp my-float"></i>
</a></li>
<li id="ul-li"><a id="ul-li-a" href="tel:9590747327">
<i class="fa icon-phone2 my-float"></i>
</a></li>
<li id="ul-li"><a id="ul-li-a" href="/#enquiry">
<i class="fa icon-envelope-o my-float"></i>
</a></li>
</ul>
</body>
</html>
